

html,body,p,dl,dt,dd,img,ul,li,ol,h1,h2,h3,h4,h5,h6,input,div,form,tr,td{
	margin:0px;
	padding:0px;
	}
body{
	font-family:"微软雅黑",Arial;
	}
ul li,ol li{
	list-style:none;
	}


img{

	border:none;
	}
a{
	text-decoration:none;
	}

/*header*/

header{
	font-size: 12px;
	color: #333333;
	background:#f4f3f3;
	position: relative;
}

#head_con{
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	height: 30px;
}
#head_l{
	line-height: 30px;
}
#head_r li dl dd{
	display: none;
	z-index: 10;
	position: absolute;
	background: white;
	width: 80px;
}

#head_r{
	display: flex;
	margin: 0;
}
#head_r li{
	line-height: 30px;
	padding-right: 10px;
	padding-left: 15px;
	background: url(../img/bor.jpg)  right no-repeat;
}
#head_r li:last-child{
	background: none;
}

#head_r li dl{
	padding-right: 10px;
	line-height: 30px;
	margin: 0px;
	padding: 0px;
	float:left;
	width: 80px;
	position: relative;
	margin-top: 1px;
}

#head_r li:hover dl{
	background: white;
	border: 1px solid #cccccc;
}
#head_r li:hover dl dd{
    border: 1px solid #ccc;
    border-top: none;
	display: block;
	z-index: 10;
	left: -1px;
}
#head_r li dl dd a{
	color: black;
}
#head_r li dl dd a:hover{
	text-decoration: underline;
	color:#ff6600;
}

/*nav*/
 nav{
	width: 100%;
	height: 100%;

 }
#nav_con{
	padding-top: 30px;
	width: 1200px;
	margin: 0 auto;
	z-index: -1;
}
#nav_top{
	padding-left: 20px;
	display: flex;
	justify-content: space-between;
}
#sea{
	width: 560px;
	text-align: center;
}
#sea input{
	height: 40px;
	width: 387px;
	float: left;
	border: 2px solid #fe7c04;
	border-left: none;
}
#sea span{
	display: block;
	float: left;
	width: 100px;
	height: 44px;
	background: #fe7c04;
	line-height: 40px;
	cursor: pointer;
}
#search{
	padding-top: 15px;
	float: left;
	font-size: 12px;
	color: #717275;
}
#search a{
	padding-right: 20px;
	color: #717275;
}

#nav_top div:nth-child(2){
	padding-left: 20px;
}

#nav_bottom{
	padding-top: 15px;
	overflow: hidden;
}
#nav_bottom div{
	float:left;
}
#nav_bottom div:first-child{
	height: 32px;
	line-height: 32px;
	background: #fe7c04;
}
#nav_bottom div:first-child p{
	float: right;
	color: white;
	font-size: 14px;
	padding-right: 10px;
}
#nav_bottom div:last-child{
	width:750px;

}
#nav_bottom div:last-child a{
	font-weight: bold;
	color: black;
	width: 120px;
	padding: 45px;
	padding-bottom: 6px;
}
#nav_bottom div:last-child a:first-child{
	color: #fe7c04;
	border-bottom: 5px solid #fe7c04;
}
#nav_bottom div:last-child a:hover{
	border-bottom: 5px solid #fe7c04;
	color: #fe7c04;
}

/*footer*/
footer{
	border-top:1px solid #ff6600;
	border-bottom: 1px solid #999999;
}
.foot_main{
	padding-top: 33px;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}
.foot_con h4{
	font-weight: normal;
	font-size: 18px;
	padding-bottom: 5px;
	cursor: pointer;
}
.foot_con p{
	width: auto;
	color: #999999;
	font-size: 12px;
	padding-top: 12px;
	cursor: pointer;
}
.foot_con p:hover{
	color: #ff6600;
	text-decoration: underline;
}

/*copyright*/

.copy{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: #999999;
	font-size: 12px;
	padding-top: 20px;
}
